body {
     background: linear-gradient(to right, #ffecd2, #fcb69f);
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.index-1 .container {
    background-color: white;
    padding: 40px 10px;
    border-radius: 25px;
    max-width: 600px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.index-1 h1 {
    color: #d8bfd8;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.index-1 .name {
    color: #4a90e2;
    font-size: 30px;
}

.index-1 .second {
    color: #00bcd4;
    font-size: 30px;
}

.index-1 .third {
    color: #fbeec1;
    font-size: 35px;
}

.index-1 .button-group {
    margin-top: 25px;
}

.index-1 .btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.index-1 .btn {
    padding: 15px 20px;
    border-radius: 45px;
    margin: 0px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: background 0.3s, trasform 0.2s;
}

.index-1 .contact {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    color: white;
    font-size: 40px;
}

.index-2 .container {
    background-color: white;
    padding: 40px 10px;
    border-radius: 25px;
    max-width: 600px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.index-2 h1 {
    color: #1abc9c;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index-2 .button {
    margin-top: 30px;
}

.index-2 .btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.index-2 .btn {
    padding: 15px 20px;
    border-radius: 40px;
    margin: 0px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 48px;
    display: inline-block;
    transition: background 0.3s, trasform 0.2s;
}

.index-2 .wa {
    background: linear-gradient(to right, #43e97b, #38f9d7);
    color: white;
}

.index-2 .ig {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: white;
}

.index-2 .fb {
    background: linear-gradient(to right, #c471f5, #fa71cd);
    color: white;
}

.index-2 .wx {
    background: linear-gradient(to right, #dee2ff, #b5ead7);
    color: white;
    padding: 15px 40px
}

.index-2 .footer {
    font-size: 20px;
    color: red;
    text-align: center;
    margin-top: 30px;
}

.index-2 .back {
    font-size: 15px;
    background: linear-gradient(to right, #6441a5, #2a0845);
    color: white;
}

body.wechat-qr {
    background: linear-gradient(to right, #43e97b, #38f9d7);
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.wechat-qr .container {
        background-color: white;
    padding: 40px 10px;
    border-radius: 25px;
    max-width: 600px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.wechat-qr .logo {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.wechat-qr .footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wechat-qr .button {
    margin-top: 30px;
}

.wechat-qr .btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.wechat-qr .btn {
    padding: 15px 20px;
    border-radius: 40px;
    margin: 0px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    transition: background 0.3s, trasform 0.2s;
}

.wechat-qr .back {
    font-size: 15px;
    background: linear-gradient(to right, #6441a5, #2a0845);
    color: white;
}